@use "../../variables" as *;

.tweet-cell {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid $color-light;
  cursor: pointer;
  background-color: $color-primary-hover-transparent;
  transition-duration: 0.3s;

  &:hover {
    background-color: $color-primary-hover;
  }

  & > .account-icon {
    margin-right: 10px;
    flex: 0 0 auto;
  }

  & > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;

    & > .tweet-status {
      color: $color-light;

      & > .user-name {
        color: $color-secondary;
      }

      & > .user-id {
        margin-left: 4px;
      }
    }

    & > .tweet-content {
      color: $color-secondary;
      word-break: break-all;
      white-space: pre-wrap;
    }

    & > .reaction-buttons {
      display: flex;
      justify-content: space-between;
      padding-right: 100px;
    }
  }
}
