@use "../../variables" as *;

.reaction-button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  color: $color-light;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 80px;

  & > .icon-wrapper {
    @include text-l;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 0.3s;
  }

  & > .value {
    @include text-m;
    margin-left: 4px;
    transition-duration: 0.3s;
  }

  &.reaction-button-reply {
    & > .icon-wrapper {
      background-color: $color-primary-hover-transparent;
    }

    &:hover {
      color: $color-primary;

      & > .icon-wrapper {
        background-color: $color-primary-hover;
      }
    }
  }

  &.reaction-button-retweet {
    & > .icon-wrapper {
      background-color: $color-retweet-hover-transparent;
    }

    &:hover {
      color: $color-retweet;

      & > .icon-wrapper {
        background-color: $color-retweet-hover;
      }
    }
  }

  &.reaction-button-favorite {
    & > .icon-wrapper {
      background-color: $color-favorite-hover-transparent;
    }

    &:hover {
      color: $color-favorite;

      & > .icon-wrapper {
        background-color: $color-favorite-hover;
      }
    }
  }
}
