@use "../../variables" as *;

.tweet-input {
  padding: 10px 0;
  border-bottom: 1px solid $color-light;
  display: flex;
  cursor: text;

  .wrapper {
    position: relative;
    max-height: $lineheight-l * 29;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 5px;
    width: 100%;

    .dummy-textarea {
      width: 100%;
      min-height: $lineheight-l;
      @include text-l;
      font-family: $fontfamily-sans;
      word-break: break-all;
      white-space: pre-wrap;
      visibility: hidden;
    }

    & > textarea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      resize: none;
      overflow: hidden;
      padding: 0;
      @include text-l;
      font-family: $fontfamily-sans;
      color: $color-secondary;
      border: none;
      background: transparent;
      outline: none;
    }
  }
}
