@use "../../variables" as *;

.icon-button {
  background: transparent;
  color: $color-primary;
  background-color: $color-primary-hover-transparent;
  text-decoration: none;
  border-radius: 50%;
  width: 46.25px;
  height: 46.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  transition-duration: 0.2s;

  & > .icon {
    font-size: 24px;
  }

  &:hover {
    background-color: $color-primary-hover;
  }

  &.active > .icon {
    text-shadow: 0 0 2px $color-primary;
  }

  &.logo {
    color: $color-secondary;

    &.active > .icon {
      text-shadow: none;
    }
  }

  &.primary {
    background-color: $color-primary;
    color: $color-secondary;

    &:hover {
      background-color: $color-primary;
      opacity: 0.8;
    }
  }
}
