@use "../../variables" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid $color-light;

  & > .home-header {
    position: sticky;
    top: 0;
    padding: 16px 10px;
    color: $color-secondary;
    @include text-l;
    font-weight: 700;
    border-bottom: 1px solid $color-light;
    background-color: $color-background;
    z-index: 1;
  }

  & > .spacer {
    background-color: $color-dark;
    border-bottom: 1px solid $color-light;
    height: 16px;
  }
}
