$color-primary: rgba(29, 161, 242, 1);
$color-primary-hover: rgba(22, 45, 64, 1);
$color-primary-hover-transparent: rgba(22, 45, 64, 0);
$color-secondary: #ffffff;
$color-light: #38444d;
$color-medium: #253341;
$color-dark: #192734;
$color-background: #15202b;
