@use "../../variables" as *;

.sidebar {
  width: 180px;
  overflow-y: auto;
  text-align: right;
  border-right: 1px solid $color-light;
  position: sticky;

  .inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > *:not(:first-child) {
      margin-top: 10px;
    }
  }
}
