@use "./components/variables" as *;

body {
  background-color: $color-background;
  margin: 0;

  .layout {
    display: flex;
    min-height: 100vh;

    & > .sidebar {
      flex: 0 0 auto;
    }

    & > .home {
      flex: 1 1 auto;
      max-width: 800px;
    }
  }
}
